.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fa-regular,
.fa-circle-dollar  {
    width: 24px;
    height: 24px;
}